.header{
    display: inline-flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    margin: 0%;
    border: 0px;
}


.logo{
    display:flex;
    flex-flow:row wrap ;
    align-content: flex-start;
    border-radius: 50%;
    margin: 50px;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

.right-links{
    display: flex;
    justify-content: flex-end;
    gap:25px;
    margin-left:650px;
    margin-top: 50px;
}

.header1{
    display: inline-flex;
    flex-direction: column;
    font-size: 48px ;
    color: #F9FAF8;
    font-weight: 800;
}

p{
    font-size: 18px;
    color: #E5E7Eb;
}

button{
    display:flex;
    align-self:center;
    background-color: #3882f6; ;
    color: #F9FAF8;
    border: 0;
}

.header2{
    font-size: 36px;
    font-weight: 800;
    color: #1f2397;
}

.quote{
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: light-italic;
    color: #1f2397;
}
