body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    background-color: #1f2937;
    padding-bottom: 30px;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logoo{
    border-radius: 50%;
    margin: 50px 50px 80px 100px;
    border-style: solid;
    border-color: #fdfeff;
    border-width: 2px; 
}
.right-links{
    font-size: 18px;
    margin: 50px 100px 100px 50px;
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

.top2{
    display: flex;
    justify-content: space-evenly;
}

.header1{
    display: flex;
    flex-flow: column nowrap;
    font-size: 48px ;
    color: #f8f9fa;
    font-weight: 800;
    margin-left:150px;
    margin-top:50px;
}

.img1{
    border-width: 3px;
    border-color: #fdfeff;
    margin: 1px 150px 50px 50px;
    padding-left: 40px;
}

p{
    font-size: 18px;
    color: #E5E7Eb;
}
.sign button{
    
    display:flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 18px;
    border: 0;
    border-radius: 10px;
    padding: 12px 45px;
    justify-content: center;
}
.header2{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2397;
}

.title{
    margin: 30px 0px 30px 0px;
    font-size: 38px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
}

.contents {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
}
 
.avatar{
    border-width: 5px;
    border-color: #3882f6;
}
.quote{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2397;
    padding: 80px;
    margin: 50px 0px 50px 0px;
}

.sec{
    display: flex;
    align-self: flex-end;
    margin-right: 300px;
}

.call{
    display: flex;
    background-color: #3882f6;
    justify-content: space-around;
    margin: 30px 300px;
    padding: 30px;
}

.para{
    font-size: 25px;
    color: #e5e7eb;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sent{
    font-weight:400;
    font-size: 15px;
}

.sign2 button{
    display: flex;
    border-style: solid;
    background-color: #3882f6;
    border-color: #e5e7eb;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    color: #e5e7eb;
    margin-top: 8px;
}

.footer{
    display: flex;
    background-color: #1f2937;
    padding: 30px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px;
}